.business-main {
    width: 100%;
    min-height: 100px;
    padding: 15px 15px 15px;
    position: relative;
    color: #fff;
    background-image: linear-gradient(0deg, #F7734C 0, #E6454A 100%);
    .shop-collection {
        position: absolute;
        right: 15px;
        bottom: 15px;
        width: 60px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        background-image: linear-gradient(-217deg, #FDE5D8 0, #FCDEA8 100%);
        border-radius: 50px;
        font-size: 12px;
        color: #F14B4B;
        span {
            display: inline-block;
            width: 11px;
            height: 12px;
            background: url(./business-love.png) no-repeat 0 0;
            background-size: 100%;
            margin-right: 3px;
            vertical-align: middle;
        }
    }
    .shop-logo {
        position: absolute;
        width: 65px;
        height: 65px;
        border-radius: 2px;
        background-color: #fff;
        img {
            width: 100%;
            height: 100%;
            border-radius: 2px;
            background-color: #fff;
            display: block;
            border: 0;
        }
    }
    .shop-info {
        padding-left: 85px;
        .shop-title {
            line-height: 23px;
            font-size: 19px;
            word-break: break-all;
            font-family: PingFangSC-Semibold;
            color: #fff;
        }
        .sale {
            clear: all;
            height: 11px;
            line-height: 11px;
            font-size: 11px;
            margin-top: 7px;
            color: #fff;
            span {
                &:before {
                    background-image: url(//static.daojia.com/fe/h5/app/css/img-shop/business-user_2a35c7d.png);
                }
            }
        }
        .tags-rz {
            margin-right: 60px;
            line-height: 14px;
            span {
                &:before {
                    background-image: url(//static.daojia.com/fe/h5/app/css/img-shop/business-user_2a35c7d.png);
                }
            }
        }
        span {
            position: relative;
            margin: 10px 10px 2px 0;
            height: 11px;
            font-size: 11px;
            padding-left: 18px;
            word-wrap: normal;
            white-space: nowrap;
            color: #fff;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 14px;
                height: 14px;
                background-size: 100% 100%;
                border-radius: 2px;
            }
        }
    }
}