<fox-header></fox-header>
<fox-swiper [hasPage]="true">
    <fox-swiper-item>
        <img src="https://meepo.com.cn/addons/imeepos_runnerpro/assets/pc/001.jpg">
    </fox-swiper-item>
    <fox-swiper-item>
        <img src="https://meepo.com.cn/addons/imeepos_runnerpro/assets/pc/002.jpg">
    </fox-swiper-item>
    <fox-swiper-item>
        <img src="https://meepo.com.cn/addons/imeepos_runnerpro/assets/pc/003.jpg">
    </fox-swiper-item>
</fox-swiper>
<fox-swiper-tags [items]="items"></fox-swiper-tags>
<fox-cube [items]="cubes"></fox-cube>
<fox-list [items]="list"></fox-list>
<fox-footer></fox-footer>