.fox-footer {
    height: 50px;
    position: relative;
    user-select: none;
    .fox-footer-container {
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        background: #fff;
        text-align: center;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &:after {
            position: fixed;
            bottom: 49px;
            left: 0;
            right: 0;
            content: "";
            display: block;
            height: 1px;
            background-color: #e8ebf0;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
        }
        .fox-footer-item {
            flex: 1;
            position: relative;
            &:before {
                position: absolute;
                bottom: 0px;
                right: -1px;
                top: 0px;
                content: " ";
                display: block;
                width: 1px;
                background-color: #d0d0d0;
                transform: scaleY(0.5);
                z-index: 888;
            }
            .icon {
                position: relative;
                height: 25px;
                background: #fff;
                padding: 5px 0 0;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;
                img {
                    width: 25px;
                    border-radius: 50%;
                    height: 25px;
                }
            }
            .wx-index__footer--title {
                font-size: 10px;
                color: #848c99;
                height: 18px;
                line-height: 18px;
                background: #fff;
                position: relative;
                z-index: 1;
                font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Heiti SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
            }
            &.active {
                .wx-index__footer--title {
                    color: #e6454a;
                    font-weight: bold;
                }
            }
        }
    }
}