/* You can add global styles to this file, and also import other style files */

* {
    margin: 0px;
    padding: 0px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

// Variables
@import "./sass/variables.scss";
// Mixins
@import "./sass/mixins.scss";
// Normalize & Base CSS
@import "./sass/normalize.scss";
@import "./sass/base.scss";
@import "./sass/type.scss";