.business-sj {
    color: #292D33;
    padding: 0px;
}

.qrcode {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    min-height: 300px;
    flex-direction: column;
}

.h10 {
    height: 10px;
}