<!doctype html><html lang="en"><head><meta charset="utf-8"><title>MeepoView</title><base href="{STATIC_PATH}"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" type="image/x-icon" href="favicon.ico"><!-- <script src="https://meepo.com.cn/meepo/libs/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
        console.log('Hello world');
    </script> --><script>var config = {
            siteroot: "{php echo $_W['siteroot']}",
            openid: "{php echo $_W['openid']}",
            uniacid: "{php echo $_W['uniacid']}"
        };</script><link href="styles.29dee33390c2c8f1afa2.bundle.css" rel="stylesheet"/></head><body><app-root></app-root><script type="text/javascript" src="inline.def6aeda798f34cf1736.bundle.js"></script><script type="text/javascript" src="polyfills.ad37cd45a71cb38eee76.bundle.js"></script><script type="text/javascript" src="main.748faf3a6e36dd9d6cb1.bundle.js"></script></body></html>