<p class="weui-msg__desc">
    请选择预约项目 &nbsp;<span style="color: red;">({{coach$.coach.fee}}元/{{coach$.coach.timeLen}}分钟)</span>
</p>
<fox-tags [items]="coach$.tags || []" (onSelect)="onSelectTag($event)"></fox-tags>
<fox-calendar [hasSelect]="coach$.hasSelect" [timeStart]="coach$.widget.time.start" [timeEnd]="coach$.widget.time.end" (onSelect)="onSelect($event)" (daySelect)="daySelect($event)" [(timeLen)]="coach$.widget.timeLen"></fox-calendar>
<p class="weui-msg__desc">
    请输入留言说明
</p>

<div class="weui-cells weui-cells_form" style="margin: 0px;">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" [(ngModel)]="coach$.form.desc" (change)="onTextareaChange()" placeholder="请输入留言说明" rows="3"></textarea>
            <div class="weui-textarea-counter"><span>{{coach$.form.desc.length}}</span>/200</div>
        </div>
    </div>
</div>

<p class="weui-msg__desc">
    <label for="weuiAgree" class="weui-agree">
        <input id="weuiAgree" checked type="checkbox" class="weui-agree__checkbox">
        <span class="weui-agree__text">
            阅读并同意 <a (click)="coach$.showTiaokuan = !coach$.showTiaokuan" href="javascript:void(0);">《相关条款》</a>
        </span>
    </label>
</p>
<a href="javascript:;" [class.weui-btn_loading]="coach$.widget.loading" (click)="post()" class="weui-btn weui-btn_primary">
    <i class="weui-loading" *ngIf="coach$.widget.loading"></i> 提交 &nbsp;({{coach$.form.time.length * coach$.coach.fee}}元)
</a>

<fox-dialog class="effect-scaleIn" [class.active]="coach$.showTiaokuan" (onClose)="coach$.showTiaokuan = !coach$.showTiaokuan">
    <div [innerHtml]="coach$.widget.content"></div>
</fox-dialog>