<div class="business-main clearfix">
    <div class="shop-logo">
        <img [src]="widget.avatar" alt="">
    </div>
    <div class="shop-info">
        <p class="shop-title">{{widget.title}}</p>
        <div class="shop-rz">
            <p class="sale"><span>{{widget.city}}</span></p>
            <div class="tags-rz clearfix">
                <span class="user">{{widget.role}}</span>
            </div>
        </div>
    </div>
    <div class="bar_favorites shop-collection collect_btn" (click)="collect()">
        <span *ngIf="!widget.hasCollect"></span>
        <i *ngIf="!widget.hasCollect">收藏</i>
        <i *ngIf="widget.hasCollect">已收藏</i>
    </div>
</div>