.ustar {
    height: 15px;
    margin: 3px 0 5px;
    width: 75px;
    background: url(./icon_star.png) repeat-x 0 0;
    background-size: 15px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    div {
        height: 15px;
        background: url(icon_star.png) repeat-x 0 -25px;
        background-size: 15px;
    }
}