fox-calendar {
    display: none;
    background: #fff;
    color: #161616;
}

fox-calendar.inline {
    display: block;
}

fox-calendar.bottom.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

fox-calendar.bottom {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    z-index: 999;
    -webkit-transition: all 300ms ease-in-out;
}

.fox-calendar-detail {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

fox-calendar.bottom .fox-calendar-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -webkit-transition: all ease-in-out 300ms;
}

fox-calendar.bottom.active .fox-calendar-detail {
    -webkit-transform: translate3d(0, 0, 0);
}

.fox-calendar-week-header {
    height: 44px;
    line-height: 44px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    background: #f8f8f8;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0px 2px 5px #f8f8f8;
}

.fox-calendar-week-item {
    -webkit-box-flex: 1.0;
    text-align: center;
    font-size: 10px;
    flex: 1;
}

.fox-calendar-month-detail {
    background: #fff;
}

.fox-calendar-month-detail .fox-calendar-row {
    display: -webkit-box;
    color: #000;
    position: relative;
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid #D9D9D9;
        color: #D9D9D9;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        z-index: 8;
    }
    &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid #D9D9D9;
        color: #D9D9D9;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        z-index: 8;
    }
}

.fox-calendar-month-detail .fox-calendar-col {
    -webkit-box-flex: 1.0;
    width: 0px;
    text-align: center;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    position: relative;
    background: #fff;
}

.fox-calendar-col.clear {
    border: none;
}

.fox-calendar-detail-content {
    height: 0px;
    -webkit-box-flex: 1.0;
    overflow: hidden;
}

.fox-calendar-selector {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background: #f8f8f8;
}

.fox-calendar-selector fox-icon {
    color: #007aff;
    font-size: 20px;
    padding: 8px;
    display: block;
}

.fox-calendar-selector-left,
.fox-calendar-selector-right {
    -webkit-box-flex: 1.0;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}

.fox-calendar-selector label {
    -webkit-box-flex: 1.0;
    display: block;
    text-align: center;
}

.fox-calendar-toolbar {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    background: #f8f8f8;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0px 2px 5px #f8f8f8;
}

.fox-calendar-toolbar button {
    -webkit-box-flex: 1.0;
    background: none;
    border: none;
    color: #007aff;
    font-size: 14px;
    padding: 8px;
    display: block;
    outline: none;
}

.fox-calendar-toolbar .fox-calendar-cancel {
    text-align: left;
}

.fox-calendar-toolbar .fox-calendar-set {
    text-align: right;
}

.fox-calendar-col.prev,
.fox-calendar-col.next,
.fox-calendar-col.disable {
    opacity: 0.5;
}

.fox-calendar-col-inner {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
}

.fox-calendar-col.active .fox-calendar-col-inner {
    background: #007aff;
    color: #fff;
}

.fox-calendar-selector fox-icon.disable {
    opacity: 0.5;
}

.fox-calendar-toolbar {
    display: none;
}

.fox-calendar-toolbar.active {
    display: -webkit-box;
}

.fox-calendar-time-list {
    margin-top: 0px;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
        &:before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #D9D9D9;
            color: #D9D9D9;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
        li {
            min-width: 4em;
            line-height: 44px;
            height: 44px;
            text-align: center;
            position: relative;
            flex: 1;
            &.active {
                background-color: #007aff;
                color: #fff;
            }
            &:before {
                content: " ";
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                bottom: 0;
                border-right: 1px solid #D9D9D9;
                color: #D9D9D9;
                -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
                -webkit-transform: scaleX(0.5);
                transform: scaleX(0.5);
            }
            &:after {
                content: " ";
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                height: 1px;
                border-bottom: 1px solid #D9D9D9;
                color: #D9D9D9;
                -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
                -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
            }
        }
    }
}

.weui-msg__desc {
    padding: 5px 10px;
    margin: 0px;
    background-color: #e4e4e4;
}

.disable {
    opacity: 0.5;
}