.shop-logo-big {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    overflow: auto;
    .shop-img {
        width: 100%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        img {
            width: 100%;
            height: 100%;
            display: block;
            max-width: 100%;
            border: 0;
        }
    }
}