.wx-index__service {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    padding: 0 4%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item_a {
    height: 50px;
    padding: 15px 5.9% 15px 8.8%;
}

.item__entry {
    margin-right: 50px;
}

.item {
    flex: 1;
    background: #f8f8f8;
    position: relative;
    border-radius: 2px;
    margin: 5px;
}

.entry__title {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-bottom: 5px;
    color: #292d33;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.entry__subtitle {
    font-size: 11px;
    color: #848c99;
    line-height: 13px;
    height: 13px;
}

a {
    display: block;
}

img {
    background: #f8f8f8;
}

.item__thumb {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    right: 5.9%;
    text-align: center;
    transform: translate(0, -50%);
    margin-left: 5px;
    img {
        width: 100%;
        vertical-align: middle;
    }
}